body{
    background-color: #04A6AA;
    color:#FDFFFF;
    width:500px;
    margin-left: auto;
    margin-right:auto;
}

button{
    padding:5px 20px;
    background-color: #337AB7;
    border-style: none;
    color:#FDFFFF;
}

input{
    height: 23px;
}
